<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Everything Is Awesome</h1>
    <p>Everything is cool when you're part of a team.</p>
  </div>
</div>
</body>
</html>
